.product-image-cart {
    height: 200px;
}

.cart__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px black;
}

.cart-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-in-cart,
.order-summary {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 8px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 300px;
}

.discount-code-input {
    font-family: 'roboto', sans-serif;
    border:#000 solid 1px;
    border-radius: 50px;
    padding: 10px 10px;
    gap: 10px;
    margin: 20px 0px;
    text-align: center;
}

.checkout-discount__button {
    display: grid;
    align-self: center;
}

.order-summary {
    background-color: rgba(190, 234, 245, 0.35);
}

.fa-trash {
    margin-left: auto;
}

.counter__content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter-input {
    text-align: center;
    padding: 3px;
}




