.product-image-cart {
    height: 200px;
}

.cart__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.cart-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-code-input {
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
    border:#000 solid 1px;
    border-radius: 50px;
    padding: 10px 10px;
    gap: 10px;
    margin: 20px 0px;
    text-align: center;
}