.cart-product-image {
    width: 80px;
    height: auto;
    object-fit: cover;
}

.cart-item {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.place-order-button {
    width: 100px;
}

















