.cart-product-image {
    width: 80px;
    height: auto;
    object-fit: cover;
}

.cart-item {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.place-order-button {
    width: 100px;
}

body, html {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

main {
    flex: 1;
}
 
.clear-cart-button {
    font-family: 'roboto', sans-serif;
    font-size: 0.8rem;
    background-color: #8CB8C3;
    color: #000;
    border-radius: 50px;
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid #0A3641;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

.quantity-button {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 5px 11px;
    text-decoration: none;
    border: 1px solid #0A3641;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.update-cart-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.cart-product-title {
    font-size: 1.125rem;
}

.total-price {
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 2px solid #000000;
    width: fit-content;
    padding-bottom: 2px;
}

.checkout-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
    max-width: 700px;
}

.fa-trash {
    cursor: pointer;
}

















