.camping-image {
    background: url('../images/camping.jpg') center no-repeat;
    min-height: 400px;
    background-size: cover;
    margin: 20px 0px;
}

.confirmation-icon {
    color: #8CB8C3;
    font-size: 100px;
}

.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.order__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.continue-shopping__button {
    align-self: center;
}