body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
}

main {
    margin: 0 auto;
}

.main__content {
    padding: 0px 5px;
    max-width: 1200px;
}

.logo-witout-slogan {
    width: 120px;
    height: auto;
}

header {
    position:relative   
}

.product-image-small {
    width: auto;
    height: 200px;
}

.product-image {
    height: 320px;
    display: block;
    margin-bottom: 8px;
}

.price-cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.extra-products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 0px;
    margin: 30px 0px;
}

.extra-product__content {
    justify-self: center;
}

.extra-product__info {
    margin: 5px 0px 0px 0px;
    font-size: 0.875rem;;
}

.price-extra-product {
    font-size: 0.875rem;
    font-weight: 900;
    margin-right: auto;
}

.checkout-image {
    width: 100px;
    height: auto;
}

.heart-checkbox {
    display: none;
}

.heart-checkbox-icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 500;
    content: '\f004';
    cursor: pointer;
}

.heart-checkbox:checked + .heart-checkbox-icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    content: '\f004';
    color: #E31646;
    cursor: pointer;
}

.price__product {
    font-size: 1.125rem;
    font-weight: 900;
    margin-right: auto;
}

.price__summary {
    font-weight: 800; 
}

.subtotal__summary {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}

.total-summary {
    border-top: black solid 1px;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
}

.coming-soon-body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.coming-soon-main {
    flex: 1;
    margin: 10px;
}

.h1-headings {
    font-size: 1.5rem;
}

.h2-heading {
    font-size: 1.125rem;
}

.size-heading,
.color-heading,
.counter-label,
.checkout-info,
.confirmation-details {
    font-size: 0.875rem;
}

.terms-newsletter,
.breadcrumbs__content {
    font-size: 0.75rem;
}

.header-navigation:hover {
    scale: 1.1;
}

.product-details-text,
.confirmation-text {
    line-height: 1.5;
}

/* Navigation*/
.nav-links a {
    color: #0A3641;
    text-decoration: none;
}

.nav-links, #menu-checkbox {
    font-family: 'Oswald', sans-serif;
    list-style: none;
    display: none;
}

#menu-checkbox:checked ~ .nav-links {
    display: block;
} 

.hamburger-icon {
    font-size: 2rem;
    color:#0A3641;
    margin: 5px;
}

.nav-links {
    position:absolute;
    background: #E8F8FB;
    padding: 20px 70px 100px 20px;
    font-size: 1.5rem;
    margin: 10px 0px 0px 0px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.nav-icons {
    color: #0A3641;
    font-size: 1.5rem;
    margin: 0px 30px 0px 0px;
    align-self: center;
}

.icon {
    margin-right: 5px;
}

.nav-breadcrumbs {
    font-family: 'roboto', sans-serif;
    color: #000;
    text-decoration: none;
}

.nav-back {
    padding: 10px 0px;
}

.nav-back a {
    color:#000;
    text-decoration: none;
}

.slash::before { 
    content: '/';
    margin: 3px 3px;
}

.coming-soon-nav {
    margin: 30px 30px;
    list-style: none;
}

.fa-cart-shopping,
.fa-heart,
.fa-user,
.fa-magnifying-glass {
    color: #0A3641;
}

/* Footer */
footer {
    background-color: #0A3641;
    background-position-x: 10px;
    font-family: 'roboto', sans-serif;
    font-size: 0.8rem;
    color: white;
    padding: 20px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__headings {
    margin: 0px;
}

.follow-us__heading {
    margin: 0px 0px 10px 0px;
}

.logo-with-slogan {
    width: 120px;
}

.footer__content ul li {
    display: none;
}

.footer-links {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

/* Color circles*/
.circle-blue,
.circle-black,
.circle-green,
.circle-yellow,
.circle-orange,
.circle-red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle-red-big,
.circle-blue-big,
.circle-green-big,
.circle-black-big {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle-black-small,
.circle-blue-small,
.circle-green-small,
.circle-orange-small,
.circle-red-small,
.circle-yellow-small {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circle-blue,
.circle-blue-big,
.circle-blue-small {
    background-color: #1F4CF0;
}

.circle-green,
.circle-green-big,
.circle-green-small {
    background-color: #0B8531;
}

.circle-black,
.circle-black-big,
.circle-black-small {
    background-color: #000;
}

.circle-yellow,
.circle-yellow-small {
    background-color: #FFE44E;
}

.circle-orange,
.circle-orange-small {
    background-color: #F45116;
}

.circle-red,
.circle-red-big,
.circle-red-small {
    background-color: #EB1010;
}

.colorchoice-medium,
.colorchoice-big,
.colorchoice-small {
    display: flex;
    gap: 5px;
}

/* Buttons */
.see-more-button, .continue-shopping {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    background-color: #8CB8C3;
    color: #000;
    border-radius: 50px;
    padding: 10px 50px;
    text-decoration: none;
    border: 1px solid #8cB8C3;
    text-align: center;
}

.add-to-cart-button, .checkout-button, .place-order-button {
    font-family: 'roboto', sans-serif;
    background-color: #0A3641;
    color: #fff;
    border-radius: 50px;
    padding: 10px 72px;
    text-decoration: none;
    border: 1px solid #0A3641;
    text-align: center;
}

.see-more-link {
    text-decoration: none;
    color: #000;
}